@font-face {
	font-family: Mariupol;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Mariupol/Mariupol-Regular.woff") format("woff"), url("/fonts/Mariupol/Mariupol-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Mariupol;
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/Mariupol/Mariupol-Medium.woff") format("woff"), url("/fonts/Mariupol/Mariupol-Medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Mariupol;
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/Mariupol/Mariupol-Bold.woff") format("woff"), url("/fonts/Mariupol/Mariupol-Bold.woff2") format("woff2");
	font-display: swap;
}