@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	::selection {
		@apply bg-cobalt-500 text-white dark:bg-cobalt-700
	}

	@media (min-width: 1024px) {
		::-webkit-scrollbar {
			@apply w-2 h-2
		}
	
		::-webkit-scrollbar-track {
			@apply bg-zinc-50/0 dark:bg-zinc-900
		}
	
		::-webkit-scrollbar-thumb {
			@apply bg-zinc-300 rounded-lg border border-zinc-100 dark:bg-zinc-800 dark:border-zinc-900
		}
	
	}

	.overflow-initial {
		overflow: initial;
	}
	.translate-z-0 {
		transform: translateZ(0px);
	}
	.link-dot {
		@apply bg-cobalt-900 dark:bg-white inline-block absolute bottom-1/2 -left-2 translate-y-1/2 w-1.5 h-1.5 rounded-full;
	}


	.button {
		@apply inline-flex bg-cobalt-500 text-white py-5 px-8 rounded-full hover:bg-cobalt-600 active:bg-cobalt-700 transition-colors duration-300;
	}

	.button-outline {
		@apply inline-flex py-5 px-8 rounded-full border border-zinc-300 hover:text-white hover:border-cobalt-500 hover:bg-cobalt-500 active:border-cobalt-600 active:bg-cobalt-600 transition-colors duration-300;
	}

	.button-icon {
		@apply ml-2 text-xl h-auto group-hover:translate-x-1 shrink-0 group-hover:opacity-60;
		transition: opacity 0.5s ease, transform 0.5s ease, fill 0.3s ease;
	}

	.button-active {
		@apply button border bg-black border-black dark:bg-cobalt-500 dark:border-cobalt-600 text-white
	}

	h1, .h1 {
		@apply text-4xl md:text-5xl xl:text-6xl mb-8 md:mb-12 xl:mb-16
	}

	h2, .h2 {
		@apply text-3xl md:text-4xl mb-8 md:mb-12 xl:mb-16
	}

	h3, .h3 {
		@apply text-2xl md:text-3xl mb-8 md:mb-12 xl:mb-16
	}

	.post-content h1 {
		@apply text-4xl md:text-5xl xl:text-6xl mb-4 xl:mb-8 font-medium
	}

	.post-content h2 {
		@apply text-3xl md:text-4xl xl:text-5xl mb-4 xl:mb-7 font-medium
	}

	.post-content h3 {
		@apply text-2xl md:text-3xl xl:text-4xl mb-4 xl:mb-6 font-medium
	}

	.post-content h4 {
		@apply text-xl md:text-2xl xl:text-3xl mb-4 xl:mb-5 font-medium
	}

	.post-content h5 {
		@apply text-lg md:text-xl xl:text-2xl mb-3 xl:mb-4 font-medium
	}

	.post-content h6 {
		@apply text-base md:text-lg xl:text-xl mb-2 xl:mb-3 font-medium
	}

	.can-help-item {
		@apply mb-10 md:pl-8 md:mb-0 xl:pl-20 md:w-1/3
	}

	.can-help-hr {
		@apply mt-4 mb-8 md:mb-12 border-zinc-400 dark:border-zinc-600
	}

	.can-help-num {
		@apply text-zinc-400 dark:text-slate-600 text-base hidden md:block
	}

	.can-help-title {
		@apply text-2xl mb-4 md:mb-8 md:text-3xl xl:text-4xl
	}

	.can-help-text {
		@apply text-base xl:text-lg text-slate-700 dark:text-zinc-300
	}

	.form-col {
		@apply flex flex-col pt-8 pb-2 pl-8 relative border-zinc-300 dark:border-zinc-600
	}

	.form-label {
		@apply text-lg transition-opacity duration-200
	}

	.form-input {
		@apply text-lg outline-none pt-2 pb-8 bg-transparent placeholder:text-zinc-400 autofill:!bg-yellow-200 
	}

	.form-input:-webkit-autofill {
		-webkit-text-fill-color: #000 !important;
		color: #000 !important;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: -webkit-box-shadow 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
	}

	.dark .form-input:-webkit-autofill {
		-webkit-text-fill-color: #fff !important;
		color: #fff !important;
	}

	.form-num {
		@apply text-zinc-500 absolute left-0 top-9 text-sm
	}

	.form-error {
		@apply absolute inline-block leading-tight bottom-3 text-red-500
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	img.overlay, video.overlay {
		object-fit: cover;
	}

	.block-device {
		/* @apply */
	}

	.block-device__content {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;
	}

	.block-device__content:before {
		content: "";
		display: block;
	}

	.block-device__device {
		position: relative;
		width: 100%;
	}

	.block-device__device:before {
		content: "";
		display: block;
	}
		
	.block-device__device div {
		background-size: cover;
	}

	/* imac */

	.device-imac .block-device__content {
		width: 98.8%;
		top: 0.8%;
	}

	.device-imac .block-device__content:before {
		padding-top: 62.5%;
	}
	
	.device-imac .block-device__device:before {
		padding-top: 85.4%;
	}
	
	.device-imac .block-device__device div {
		background-image: url('../images/devices/device-macpro-higher.png');
	}

	/* mbp */

	.device-mbp .block-device__content {
		width: 79.5%;
		top: 1.9%;
	}

	.device-mbp .block-device__content:before {
		padding-top: 62.5%;
	}
	
	.device-mbp .block-device__device:before {
		padding-top: 56.8%;
	}
	
	.device-mbp .block-device__device div {
		background-image: url('../images/devices/device-mbp-16-lower.png');
	}

	/* ipad */

	.device-ipad .block-device__content {
		width: 97%;
		top: 2.5%;
		border-radius: 2.5%/4%;
	}

	.device-ipad .block-device__content:before {
		padding-top: 62.5%;
	}
	
	.device-ipad .block-device__device:before {
		padding-top: 63.7%;
	}
	
	.device-ipad .block-device__device div {
		background-image: url('../images/devices/device-ipad-pro-lower.png');
	}

	/* iphone */

	.device-iphone .block-device__content {
		width: 90.2%;
		top: 2%;
		border-radius: 10%/5%;
	}

	.device-iphone .block-device__content:before {
		padding-top: 215%;
	}
	
	.device-iphone .block-device__device:before {
		padding-top: 202%;
	}
	
	.device-iphone .block-device__device div {
		background-image: url('../images/devices/device-iphone13-nonotch.png');
	}

	.toc-active {
		@apply text-cobalt-500 dark:text-cobalt-400
	}

	.dot {
		@apply block w-1 h-1 -left-1 top-1/2 -translate-y-1/2 rounded-full absolute bg-cobalt-500 group-hover:-left-3 group-hover:scale-100 transition-all scale-0
	}
	.toc-active .dot {
		@apply scale-100 -left-3
	}

}



:root {
	--elastic-ease: cubic-bezier(0.52, 2, 0.25, 0.79);
	--cobalt-900-rgb: 0, 13, 25;
	--gh-margin: 3em;
}

html {
	-webkit-tap-highlight-color: transparent;
}

.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}

@keyframes leaf01 {
	from { transform: translate(-40%, 0%); opacity: 0; }
	70% { transform: none; opacity: 1;}
	to { transform: none; opacity: 1;}
}

@keyframes leaf02 {
	from { transform: translate(-40%, -40%); opacity: 0; }
	70% { transform: none; opacity: 1;}
	to { transform: none; opacity: 1;}
}

@keyframes leaf03 {
	from { transform: translate(0%, -40%); opacity: 0; }
	70% { transform: none; opacity: 1;}
	to { transform: none; opacity: 1;}
}
@keyframes leaf04 {
	from { transform: translate(40%, -40%); opacity: 0; }
	70% { transform: none; opacity: 1;}
	to { transform: none; opacity: 1;}
}
@keyframes leaf05 {
	from { transform: translate(40%, 0%); opacity: 0; }
	70% { transform: none; opacity: 1;}
	to { transform: none; opacity: 1;}
}

.menu-btn-wrap {
	transform: scale(0);
	transition: 0.4s transform 0.4s cubic-bezier(0, 0, 0.15, 1);
}

/* body.menu-opened {
	overflow: hidden;
} */

@media (max-width: 1023px) {
	body.menu-opened {
		overflow: hidden;
	}
}

.fake-menu-btn {
	transition: 0.7s transform 0.5s var(--elastic-ease);
}

body.menu-opened .fake-menu-btn {
	transform: scale(0);
	transition-delay: 0s;
}

body.menu-opened .menu-btn-wrap,
body.scrolled .menu-btn-wrap {
	transform: scale(1);
	transition: transform 0.5s var(--elastic-ease);
}

sup {
	position: absolute;
	left: calc(100% - 0.15em);
	top: 0;
	display: inline-block;
	font-weight: 400;
	font-size: 80%;
	opacity: 0.6;
}


/* menu styles */

.menu:before,
.menu:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 6rem;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
	background-image: linear-gradient(to top, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
}

.menu:after {
	top: auto;
	bottom: 0;
	height: 2rem;
	background-image: linear-gradient(to top, rgba(250, 250, 250, 1), rgba(250, 250, 250, 0));
}

.dark .menu:before {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.dark .menu:after {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.menu-btn__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu-btn__inner>span {
	display: inline-block;
	/* width: 1.2rem; */
	height: 1px;
	background-color: #fff;
	transition: transform 0.25s ease;
	transform-origin: center center;
}

.menu-btn__inner>span:nth-child(1) {
	margin-bottom: 0.4rem;
}

.menu-btn.is-open .menu-btn__inner>span:nth-child(1) {
	transform: rotate(-45deg) translate(-0.1rem, 0.2rem);
}

.menu-btn.is-open .menu-btn__inner>span:nth-child(2) {
	transform: rotate(45deg) translate(-0.1rem, -0.2rem);
}

.menu-btn__inner .menu-btn-text__inner {
	background-color: transparent;
	height: auto;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.logo-img {
	--transition-prop: cubic-bezier(.48, -1, .48, 2);
	--transition-duration: 0.3s;
}

.logo-img strong {
	font-size: 80%;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.04em;
	transition: transform var(--transition-duration) var(--transition-prop), opacity var(--transition-duration) var(--transition-prop);
}

.logo-img .leaf {
	transform-origin: 50% 68.5%;
	transition: transform var(--transition-duration) var(--transition-prop);
}

.logo-img:hover .leaf01 {
	transform: rotate(-10deg);
}

.logo-img:hover .leaf02 {
	transform: rotate(-5deg);
}

.logo-img:hover .leaf04 {
	transform: rotate(5deg);
}

.logo-img:hover .leaf05 {
	transform: rotate(10deg);
}


.hero-image {
	transition: transform 1s ease;
}
.hero-image > div {
	box-shadow: rgba(20, 20, 20, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	animation: 1s ease 0s infinite alternate loadingImg;
}

.dark .hero-image > div {
	animation: 1s ease 0s infinite alternate loadingImgDark;
}

.item-loading {
	animation: 1s ease 0s infinite alternate loadingImg;
}
.dark .item-loading {
	animation: 1s ease 0s infinite alternate loadingImgDark;
}

@keyframes loadingImg {
	from {
		background: #dedede; 
	}
	to {
		background: #d0d0d0; 
	}
}

@keyframes loadingImgDark {
	from {
		background: #5b5b5b; 
	}
	to {
		background: #333333; 
	}
}

.hero-image:nth-child(1) {
	transform: translate(-115%, -85%) rotate(-5deg);
	z-index: 4;
}

.hero-image:nth-child(2) {
	transform: translate(-30%, -85%) rotate(10deg);
	z-index: 5;
}

.hero-image:nth-child(3) {
	transform: translate(-5%, -15%) rotate(5deg);
	z-index: 2;
}
.hero-image:nth-child(4) {
	transform: translate(-70%, -5%) rotate(-10deg);
	z-index: 1;
}

.hero-image:nth-child(1):hover {
	transition: 0.35s ease;
	transform: translate(-125%, -95%) rotate(-10deg);
}

.hero-image:nth-child(2):hover {
	transition: 0.35s ease;
	transform: translate(-20%, -95%) rotate(15deg);
}

.hero-image:nth-child(3):hover {
	transition: 0.35s ease;
	transform: translate(15%, -5%) rotate(10deg);
}
.hero-image:nth-child(4):hover {
	transition: 0.35s ease;
	transform: translate(-80%, 5%) rotate(-15deg);
}

@media (min-width: 1280px) {
	.hero-image:nth-child(2) {
		transform: translate(-20%, -95%) rotate(10deg);
	}

	.hero-image:nth-child(4) {
		transform: translate(-80%, 5%) rotate(-10deg);
	}

	.hero-image:nth-child(2):hover {
		transform: translate(-10%, -105%) rotate(15deg);
	}

	.hero-image:nth-child(4):hover {
		transform: translate(-90%, 15%) rotate(-15deg);
	}
	
}

.text-gradient-animation {
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animatedGradient 10s ease-in-out infinite;
}

.bg-gradient-animation {
	background-size: 300%;
	animation: animatedGradient 10s ease-in-out infinite;
}

@keyframes animatedGradient {
	0% {
		background-position: 0px 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0px 50%;
	}
}


@media(min-width: 1280px) {
	.work-image-wrap {
		transform: translateX(10%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
		box-shadow: rgba(20, 20, 20, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	
	}
	
	.work-image-wrap.shown {
		transform: translateX(0%);
		opacity: 1;
		visibility: visible;
	}
}


.anim-dot {
	opacity: 0;
	animation: animateDot1 2s linear infinite;
 }
 
 .anim-dot:nth-child(2) {
	animation: animateDot2 2s linear infinite;
 }
 
 .anim-dot:nth-child(3) {
	animation: animateDot3 2s linear infinite;
 }
 
 @keyframes animateDot1 {
	0%   {opacity: 0; }
	20%  {opacity: 0;}
	30%  {opacity: 1;}
	90% {opacity: 1;}
 }
 
 @keyframes animateDot2 {
	0%   {opacity: 0; }
	35%  {opacity: 0;}
	45%  {opacity: 1;}
	90% {opacity: 1;}
 }
 
 @keyframes animateDot3 {
	0%   {opacity: 0; }
	50%  {opacity: 0;}
	60%  {opacity: 1;}
	90% {opacity: 1;}
 }

.parallax-item {
	will-change: transform;
}

.post-content a {
	text-decoration: underline;
}
.post-content p {
	margin-bottom: 1em;
}

.post-content img {
	margin: 2em auto;
}

.post-content ul,
.post-content ol {
	margin-bottom: 1.5em;
	padding-left: 1.5em;
	list-style-position: outside;
}

.post-content ul {
	list-style-type: initial;
}

.post-content li {
	margin-bottom: 0.8em;
}

.post-content ol {
	list-style-type: decimal;
}

.post-content blockquote {
	margin: 3em 0;
	border-left: 2px solid #000;
	padding: 0.8em 0 0.8em 2em;
}
.dark .post-content blockquote {
	border-left: 2px solid #fff;
}

.post-content blockquote p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 500;
}

@media (min-width: 768px) {
	.post-content blockquote p {
		font-size: 2em;
		margin-bottom: 0;
	}
}

.post-content .iframe-wrap {
	position: relative;
	padding-bottom: 56.25%;
	margin: 1.3em 0 1.5em;
}

.post-content .iframe-wrap iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-content .table-wrap {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.post-content table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1.3em 0 1.5em;
	border: 2px solid #202224;
	min-width: 35rem;
}

.post-content table thead {
	text-align: left;
	background: #202224;
	color: #fff;
}

.post-content table tr:nth-child(2n) {
	background: #e4e4e7;
}

.post-content table thead th,
.post-content table td {
	padding: 0.5em 0.8em;
}

.post-content table thead th {
	font-weight: 500;
}

/* dark mode table */
.dark .post-content table {
	border: 2px solid #d4d4d8;
}

.dark .post-content table thead {
	background: #d4d4d8;
	color: #202224;
}

.dark .post-content table tr:nth-child(2n) {
	background: #1e293b;
}

.post-content img {
	border-radius: 0.65rem;
}

.post-content hr {
	margin: 1.9em auto;
	height: 2px;
	background-color: #ecedef;
}

@media (min-width: 768px) {
	.post-content table {
		margin: 2em 0 2.2em;
	}
}

/* video wrap */
.post-content .video-wrap {
	margin-top: 2em;
	margin-bottom: 2em;
	display: block;
}

.post-content video {
	border-radius: 0.65rem;
}

.video-wrap {
	position: relative;
	color: #fff;
}

.video-wrap .overlay {
	cursor: pointer;
	z-index: 10;
}

.video-wrap:hover .video-btn span {
	opacity: 0.8;
}

.video-btn span {
	opacity: 0;
	position: absolute;
	padding: 0.35rem;
	left: 0.2rem;
	bottom: 0.2rem;
	transition: opacity 0.5s ease;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.45rem;
	font-size: 2rem;
}

.video-wrap.paused .pause-btn,
.video-wrap .play-btn {
	display: none;
}

.video-wrap.paused .play-btn, 
.video-wrap .pause-btn {
	display: block;
}

/* anchor header */

.anchor-header {
	position: relative;
}

.anchor-header svg {
	width: 0.5em;	
	height: 0.5em;
}

.anchor-header a {
	position: absolute;
	left: -0.6em;
	top: 0em;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s ease 0.5s, visibility 0.25s ease 0.5s;
}

.anchor-header:hover a {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}


.table-of-contents li {
	margin-top: 1em;
}

.table-of-contents ul,
.table-of-contents ol {
	padding-left: 0.9em;
	font-size: 0.95em;
}


/* code highlighting */

.code-block-wrapper {
	position: relative !important;
}

.code-block {
	--grvsc-border-radius: 0px;
	--grvsc-padding-top: 2.5rem;
	position: initial !important;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	margin-top: -1.5rem;
	margin-bottom: var(--gh-margin);
	line-height: 1.75 !important;
	font-size: 0.8em;
	max-height: 75vh;
	min-height: 2rem;
	/* box-shadow: 0 25px 45px 0px rgba(0, 0, 0, 0.1); */
}

.dark .code-block {
	color: inherit;
}

.grvsc-code {
	width: 100%;
}

.grvsc-line-number {
	color: #5b5b5b;
}

.dark .grvsc-line-number {
	color: #6e6e6e;
}

/* languages names */
pre[data-language]:before {
	content: "";
	display: block;
	position: absolute;
	font-size: 0.8em;
	top: 0;
	left: 0;
	width: auto;
	height: 1.8em;
	line-height: 1.5;
	font-family: inherit;
	background-color: #39393A;
	text-align: center;
	padding: 0.2em 0.6em;
	border-radius: 0 0 0.3em 0.3em;
	/* text-transform: uppercase; */
}

pre[data-language="jsx"]:before {
	content: "jsx" !important;
	background-color: #F7DF1C;
	color: #000;
}

pre[data-language="js"]:before,
pre[data-language="javascript"]:before {
	content: "JavaScript" !important;
	background-color: #F7DF1C;
	color: #000;
}

pre[data-language="ts"]:before{
	content: "TypeScript" !important;
	background-color: #007ACB;
	color: #fff;
}

pre[data-language="php"]:before {
	content: "PHP" !important;
	background-color: #6F81B6;
	color: #ffffff;
}

pre[data-language="html"]:before {
	content: "HTML" !important;
	background-color: #E44C25;
	color: #fff;
}

pre[data-language="css"]:before {
	content: "css" !important;
	background-color: #036CB4;
	color: #fff;
}

pre[data-language="scss"]:before {
	content: "SCSS" !important;
	background-color: #C86694;
	color: #fff;
}

pre[data-language="sass"]:before {
	content: "SASS" !important;
	background-color: #C86694;
	color: #fff;
}

pre[data-language="bash"]:before {
	content: "Bash" !important;
	color: #fff;
}

pre[data-language="plain text"]:before,
pre[data-language="text"]:before {
	content: "Text" !important;
	background-color: #ececec;
	color: #000;
}

/* copy-code-btn */

.copy-code-container {
	z-index: 1;
	top: calc(var(--gh-margin) * 0.16);
	margin-right: calc(var(--gh-margin) * -0.4);
}

.copy-code-btn {
	color: rgba(0,0,0, 0.4);
	font-size: 1.5em;
	padding: 0.1rem;
	border-radius: 0.24em;
	transition: color 0.25s ease, background-color 0.25s ease;
}

.dark .copy-code-btn {
	color: rgba(255,255,255, 0.4);
}

.copy-code-btn svg {
	width: 1em;
	height: 1em;
}

.copy-code-btn:after {
	display: none !important;
}

.copy-code-btn:hover {
	color: rgba(0,0,0, 0.8);
	background-color: rgba(0,0,0, 0.1);
}

.copy-code-btn:active {
	transform: scale(0.9);
}

.dark .copy-code-btn:hover {
	color: rgba(255,255,255, 1);
	background-color: rgba(255,255,255, 0.1);
}


.copy-code-toaster {
    z-index: 11000 !important;
	top: auto !important;
	right: auto !important;
    bottom: 0.3rem !important;
    left: 0.3rem !important;
    display: block !important;
    height: auto !important;
    width: auto !important;
    pointer-events: all !important;
	transform: translateX(calc((100% + 0.3rem) * -1));
	opacity: 0;
	visibility: hidden;
    animation: toaster 2s ease;
}

.copy-code-toaster-text {
	width: 100% !important;
    margin: 0 !important;
    max-width: 850px !important;
    padding: 0.5rem  1rem !important;
    font-size: 1rem !important;
    letter-spacing: 0 !important;
    font-family: inherit !important;
    color: #fff !important;
	background-color: #16a34a !important;
    border-radius: 0.3rem !important;
    text-align: center !important;
    opacity: 1 !important;
	animation: none !important;
}

.dark .copy-code-toaster-text {
	background-color: #16a34a !important;
}

@keyframes toaster {
	0% {
		opacity: 1;
		visibility: visible;
	}
	20% {
		transform: none;
	}
	80% {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
	99% {
		opacity: 1;
		visibility: visible;
		transform: translateX(calc((100% + 0.3rem) * -1));
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	.code-block {
		margin-left: 0;
		margin-right: 0;
		--grvsc-border-radius: 0.5rem;
		font-size: 0.9em;
	}

	pre[data-language]:before {
		left: 1.5rem;
	}

	.copy-code-container {
		top: calc(var(--gh-margin) * 0.2);
		margin-right: calc(var(--gh-margin) * 0.2);
	}
	
	.copy-code-btn {
		font-size: 1.6em;
		border-radius: 0.2em;
		transition: color 0.25s ease, background-color 0.25s ease;
	}
	
}

@media (min-width: 1024px) {
	.code-block {
		--grvsc-padding-top: 3rem;
		font-size: 0.8em;
	}

	.copy-code-container {
		top: calc(var(--gh-margin) * 0.3);
	}
}
